/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

/* make form elements inherit some styles*/
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------------------------------------------- */

body {
    background: rgb(250,240,235);
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    font-size: 1.2rem;
    text-align: center;
}

.card-container {
    display: grid;
    margin: 1em 2em;
    grid-template-columns: 1fr 1fr 1fr;
}
.character-container {
    padding: 0 2em;
    display: grid;
    grid-template-rows: 1fr 0.2fr 1fr;
}


.image-container {
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr;
    align-items: stretch;
}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 1em;
}
    font-size: 1.2rem;
input {
    font-size: 1.2rem;
    width: 90%;
}

.tags-container {

            display: inline-block;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
            box-shadow: 2px 2px 5px #00000033;
            width: 100%;
}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;

}
.tags > li {
    display: inline-block;
     background-color: #f2f2f2;
            color: #333;
            border-radius: 20px;
            padding: 5px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            font-size: 0.8rem;
}

.tags-input {
    background-color: transparent;
}

.tags-input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 0.9rem;

}
.tags-input[type="text"]:focus {
    outline: none;
}
.delete-button {
    width: 15px;
    height: 15px;
    font-size: 0.6rem;
    border: none;
    border-radius: 10px;
    margin-left: 0.5em;
    padding: 0;
    background-color: transparent;
}
.delete-button:hover {
    background: rgb(220,220,220);
}

/* ------------ */
.send-character-button {
    width: 50%;
    margin: 1em auto;
    padding: 0.4em 1em;
    border-radius: 10px;
    background-color: rgb(240,190,190);
    font-size: 1.2rem;

}


/* generate button */

.generate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.generate-button {
    padding: 0.5em 1em;
    border-radius: 10px;
    background: rgb(10,110,70);
    color: white;
    font-size: 1.2rem;
}
.generate-button-label {
    color: red;
    font-size: 1.3rem;
    display: none;
}




/* doppelganger CONTAINER */

.doppelganger-container {
    display: none;
    border-radius: 20px;
    max-width:  80%;
    margin: 3em auto 0 auto;
    border: 1px solid rgb(220,220,220);
    box-shadow: inset 0px 0px 20px 1px black;

}

.profile-info {
    flex-basis: 40%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dopel-image {
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 0px 20px 50px 5px;

}

.dopel-name {
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 0.5em 0.7em;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgba(40,40,40,0.3) , rgba(150,150,150) 60%, rgba(230,230,230));
    color: black;
    font-weight: 500;
}
.skills-info {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 2em;

}

.dopel-class,
.dopel-skills {
    background: rgb(220,210,210);
    flex-basis: 50%;
    padding: 0.5em 2em;
    border-radius: 10px;

}

.dopel-info-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    background: white;
    border-radius: 10px;
    color: gold;
}

.list {
    background: rgb(240,170,170);
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 950px) {
    body {
        font-size: 0.9rem;
    }
    .card-container {
        max-width: 50%;
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }
    .character-container {
        padding: 1em 3em;
    }

    .doppelganger-container {
        flex-direction: column;
        max-width: 65%;
    }
    .dopel-name {
        font-size: 1.3rem;
    }
    .skills-info {
        flex-direction: column;
    }

}
